<html>
<form action="http://localhost:3000/upload" method="post" enctype="multipart/form-data" >
    <input type="file" value="file"> <br>
    <br>
    <input type="submit" value="upload">
</form>
</html>