<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io("http://localhost:3000");
        socket.on("Sever-send-data",function(data){
          $("#noidung").append(data + ", ");
        });
      $(document).ready(function(){
       $('#idsocket').click(function(){
          socket.emit("Client-send-data","hello");
       });
     });
    </script>
  </head>
  <body>
  <div id="idsocket">
    click
  </div>
  <h2 id="noidung"></h2>
  </body>
</html>
